<% layout('./layouts/boilerplate') -%>
<section class="ui basic segment">
    <h1 class="ui header">yYelpCamp</h1>
</section>
<section class="ui grid basic segment">
    <div class="ui row">
        front page
    </div>
</section>