<% layout('./layouts/boilerplate') -%>
<section class="pusher">
    <section class="ui basic segment">
        <h1 class="ui header">yYelpCamp</h1>
    </section>
    <section class="ui grid">
        <div class="ui row">

        </div>
    </section>
</section>