<% layout('./layouts/boilerplate') -%>
<section class="ui basic segment">
    <!-- <div id="map" style="width: 100%; height: 500px"></div> -->
    <div id="map" style="width: 100%; height: 40rem"></div>
</section>
<div class="ui divider"></div>
<section class="ui grid basic segment">
    <div class="ui row">
        front page
    </div>
</section>
<script>
    const MAPBOX_TOKEN = '<%- process.env.MAPBOX_TOKEN %>';
</script>
<script src="/js/clusterMap.js"></script>