<div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
        <div class="two wide column">&copy; yYelpCamp</div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
        <div class="two wide column"></div>
        <div class="two wide column">
            <i class="facebook icon"></i>
            <i class="instagram icon"></i>
            <i class="linkedin icon"></i>
        </div>
    </div>
</div>