<a class="item" href="/">
    <i class="home icon"></i>
    yYelpCamp
</a>
<a class="item" href="/campgrounds">
    <i class="campground icon"></i>
    Camps
</a>
<!-- <a class="item">
    <i class="smile icon"></i>
    Friends
</a>
<a class="item">
    <i class="calendar icon"></i>
    History
</a> -->