<nav class="ui container">
    <a class="header active teal item" href="/">
        <i class="home icon"></i>
        yYelpCamp
    </a>
    <a class="item" href="/campgrounds">
        <i class="campground icon"></i>
        Camps
    </a>
    <a class="item" href="/campgrounds/new">
        <i class="wind icon"></i>
        New Camp
    </a>
    <a class="item" href="/register">
        <i class="mountain icon"></i>
        Register
    </a>
    <a class="item" href="/login">
        <i class="tree icon"></i>
        Login
    </a>
</nav>