html {
  height: 100%;
}

body { 
  min-height: 100%; 
}

.frontpage-body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1500394285326-32ebd5fa0158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-position: center;
}

.frontpage {
  height: 100vh;
  color: #fff;
}

.campgroundmap {
  width: 100%;
  height: 35rem;
}

.clustermap {
  width: 100%;
  height: 40rem;
}

/* div {
  border:1px solid black;
}
section {
  border:1px solid black;
} */

.footer {
  height: 5rem;
}

.main.container {
    margin-top: 5rem;
    min-height: 100%;
}

/* .campground_details_row {
  margin: 1em auto 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
} */

/* swiper */
.swiper {
  width: 100%;
  /* height: 50%; */
  height: 50rem;
}

.swiper-slide {
  /* text-align: center;
  font-size: 18px;
  background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* https://stackoverflow.com/questions/45381871/swiper-how-to-customise-arrow-buttons */
.swiper-button-next {
  color: #fff !important; /* !important isn't necessary, just in case */
}
.swiper-button-prev {
  color: #fff !important;
}
/* swiper */

.thumbnail_checkbox {
  margin-right: 1rem;
}