html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* div {
  border:1px solid black;
} */

.main.container {
    min-height: 100%;
    margin-top: 5rem;
}

.campground_details_row {
  margin: 1em auto 1em;
}